.GoogleMap {
  border: 5px solid #ffb6c1;
  padding: 10px;
  margin: 15px;
}

.App-header {
  background-color: #ffb6c1;
  height: 120px;
  padding: 20px;
  color: grey;
}

.App-logo {
  animation: App-logo-spin 1s 15s linear;
  height: 5vh;
  color: "white";
}