/* Tiny reset thingy */
body,
html {
  margin: 0;
  padding: 0;
}

.block1 {
  position: absolute;
  padding-bottom: 70vh;
}

.featured-functionality {
  width: 100vw;
  box-shadow: 0px 5px 20px black;
  background: rgba(224, 78, 70, 0.97);
}

.box {
  width: 29vw;
  box-shadow: 0px 1px 10px black;
  height: 55vh;
  margin-top: 10vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1px 10px 1px 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.navbar-brand {
  padding-top: 3px;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.btn:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.foot {
  background-color: #d3cdb4;
  height: 25vh;
}

.copyright {
  padding-left: 80vw;
  font-size: large;
  padding-top: 20vh;
}

.box1 {
  width: 29vw;
  box-shadow: 0px 1px 10px black;
  height: 55vh;
  margin-top: 25vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1px 10px 1px 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.team {
  padding-left: 35vw;
  padding-top: 8vw;
  text-shadow: 0px 1px 45px black;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 10vw;
  margin: 3vw;
}

.text-description {
  font-size: 2vh;
  margin-top: 45px;
}

.feature-blocks {
  margin-top: 10vh;
}

.dispatch {
  text-align: left;
  font-size: 3vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: row-reverse;
}

.technicians {
  text-align: right;
  font-size: 3vh;
  padding-right: 3vw;
  display: flex;
}

.feature-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 8vw;
  background-color: whitesmoke;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.section2 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {}

/* Sets the actual background images to adorable kitties. This part is crucial.*/
.bg1::after {
  background-image: url('./images/top-main.jpg');
}

.bg2::after {
  background-image: url('./images/bike-anatomy.jpg');
  height: 100vh;
}

.image {
  max-height: 25vh;
  border-radius: 13vh;
}